<!DOCTYPE html>
<html lang="zh-CN" ng-app="plantApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <title>share</title>
</head>
<body>

<div class="container">
    <div ng-controller="plantController">
        <button class="btn btn-primary" ng-click="openLocation()">我的位置</button>
        <button class="btn btn-primary" ng-click="getLocation()">获取地理位置</button>
        <button class="btn btn-primary" ng-click="shareAppMessage()">分享给朋友</button>
        <button class="btn btn-primary" ng-click="shareTimeline()">分享到朋友圈</button>
        <button class="btn btn-primary" ng-click="getNetworkType()">获取网络状态</button>
    </div>
</div>

<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
<!--<script src="../js/angular.min.js"></script>-->
<script src="../js/jweixin-1.0.0.js"></script>
<script src="../js/share.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>